#canvas {
    background-color:#bdfffe;
    display: none; 
    border: 1rem solid #7ab51c; 
    z-index: -1;
}
#background, #canvas {
    width: 90vw;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
}
body {
    background-color: #d2fb8f;
}
#playButton {
    left: 70%;
    top: 65%;
    position: absolute;
    border-radius: 1rem;
}
#playButton:hover {
    filter: brightness(80%);
}